@model accounts.Models.User
@{
    ViewData["Title"] = "Login/Registration";
}
<h2>Please @ViewBag.view</h2>

<a href="@ViewBag.showLink">@ViewBag.other</a>

<form action="@ViewBag.view" method="post">
    @if(ViewBag.view == "Register"){
        <label>First Name:</label>
        <input type="text" name="first">
        <span style="color: red" asp-validation-for="first"></span>
        <label>Last Name:</label>
        <input type="text" name="last">
        <span style="color: red" asp-validation-for="last"></span>
    }
    <label>Email:</label>
    <input type="text" name="email">
    <span style="color: red" asp-validation-for="email"></span>
    <label>Password:</label>
    <input type="password" name="password">
    <span style="color: red" asp-validation-for="password"></span>
    @if(ViewBag.view == "Register"){
       <label>Confirm:</label>
       <input type="password" name="confirm">
    }
    <br>
    <button type="submit">@ViewBag.view</button>
    @if(@ViewBag.confirmFail != null)
    {
        <p style="color: red; display: inline;">@ViewBag.confirmFail</p> 
    }
</form>